:root {
  --vh: 1vh;
}

html,
body {
  height: 100vh; /* Fallback */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* 수정전 */
/* * {
  font-family: 'Noto Serif KR', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
} */
* {
  font-family: 'Apple SD Gothic Neo', 'NanumBarunGothic', 'Malgun Gothic', '맑은 고딕', '돋움', 'Dotum', sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* react-photo-view 확대 방지 */
.rpv-photo-view__photo-wrap {
  touch-action: none !important;
  overscroll-behavior: none !important;
}

.rpv-photo-view__photo-wrap img {
  transform: none !important;
  pointer-events: none;
}

/* 모바일 브라우저 주소창 대응 */
.full-height {
  height: 100vh; /* Fallback */
  height: calc(var(--vh, 1vh) * 100);
}